.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-black);
  color: white;
  padding: 1rem 3rem;
  height: max-content;
  z-index: 100;
  display: grid;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: max-content max-content max-content;
}

.profileLink {
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
  color: var(--color-grey);
  text-decoration: none;
}

.profileLink:hover {
  cursor: pointer;
}

.icon {
  margin-right: 8px;
  font-size: 20px;
}