.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
  color: white;
  height: max-content;
  display: grid;
  justify-content: end;
  grid-gap: 2rem;
  grid-auto-flow: column;
  align-items: center;
  width: 100%;
  background-color: var(--color-black);
}

.profileLink {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  font-size: 1.6rem;
  color: var(--color-grey);
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.5rem;
  width: max-content;
}

.profileLink:hover {
  cursor: pointer;
  color: var(--color-primary);
}

.icon {
  color: var(--color-primary);
  margin-right: 8px;
  font-size: 20px;
}


.logo {
  color: var(--color-primary);
}