.vocabulary {
  margin: 10rem auto;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.options {
  list-style: none;
  padding: 0;
  margin: 3rem 0 0 0;
  display: grid;
  grid-gap: 1rem;
}

.options li {
  font-size: 1.8rem;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
  padding: 1rem;
}

.h1 {
  margin-bottom: 2rem;
}

.h6Example {
  font-style: italic;
  margin-bottom: 1rem;
}

