.container {
  margin-top: 10rem;
  display: grid;
  justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: grid;
  grid-gap: 1rem;
}

.buttonContainer {
  margin-top: 2rem;
}
