.table {
    display: table;
    width: 100rem;
    border-collapse: collapse;
    font-size: 1.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .table th,
  .table td {
    border: 1px solid var(--color-grey);
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: var(--color-black);
    color: var(--color-primary);
    
  }