.errorPage {
  margin-top: 10rem;
  width: 100%;
  display: grid;
  justify-content: center;
}

.container {
  text-align: center;
  padding: 5rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: max-content;
}

.title {
  color: var(--color-primary);
  margin-bottom: 20px;
}

.message {
  color: var(--color-black);
  margin-bottom: 20px;
}
