.sidebar {
  height: 100%;
  background-color: var(--color-black);
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  justify-content: center;
  align-content: start;
  grid-gap: 2rem;
  z-index: 100;
  padding: 6rem 2rem 2rem 2rem;
}

.list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  z-index: 100;
}

.logo {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  align-items: center;
  color: var(--color-primary);
}

.active {
  width: 100%;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--color-tertiary);
  color: var(--color-white) !important;
}

.rocketIcon {
  font-size: 3.6rem;
  color: var(--color-primary);
  margin-right: 0.5rem;
}
