.sidebar {
  width: 240px;
  height: 100%;
  background-color: var(--color-black);
  padding: 6rem;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 2rem;
  z-index: 1000;
  display: grid;
  justify-content: center;
  align-content: space-between;
}

.list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
}

