.sidebar {
  height: 100%;
  background-color: var(--color-black);
  padding: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  justify-content: center;
  align-content: start;
  grid-gap: 2rem;
}

.list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  z-index: 100;
}

.logo {
  color: var(--color-primary);
}
