.button {
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 1.5rem 3rem;
    height: max-content;
    background-color: var(--color-tertiary);
    width: max-content;
    color: var(--color-white);
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 1rem;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: var(--color-tertiary-tinted);
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .icon {
    font-size: 2rem;
    color: var(--color-secondary);
  }