.sidebarLink {
    padding: 10px;
    font-size: 16px;
    list-style: none;  
  }
  
  .sidebarLink:hover {
    cursor: pointer;
  }
  
  .link {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-gap: 1rem;
    color: var(--color-grey);
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    font-size: 1.8rem;
  }
  
  .link:hover {
    color: var(--color-primary);
  }
  
  .icon {
    margin-right: 8px;
    font-size: 2.4rem;
    color: var(--color-primary);
  }
  
.active {
  background-color: #007bff;
  color: #fff;
}