.tier {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  justify-items: center;
  width: 100%;
}

.title {
  margin-bottom: 1rem;
}

.price {
  margin-bottom: 1rem;
}

.features {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.features li {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.checkIcon {
  color: var(--color-primary);
}

.buttonContainer {
  align-self: end;
}