.svg {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  display: block;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.line {
  stroke: var(--color-primary);
  stroke-width: 2;
  fill: none;
}

.dot {
  fill: var(--color-tertiary);
  stroke-width: 1;
}

.axis path,
.axis line {
  stroke: var(--color-black);
}

.axis text {
  fill: var(--color-black);
}

.highlight {
  stroke-width: 2;
  fill: none;
}
