/* Neue Montreal */
@font-face {
  font-family: "Neue Montreal";
  src: url("./assets/fonts/NeueMontreal/NeueMontreal-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("./assets/fonts/NeueMontreal/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* Object Sans */
@font-face {
  font-family: "Object Sans";
  src: url("./assets/fonts/ObjectSans/ObjectSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Object Sans";
  src: url("./assets/fonts/ObjectSans/ObjectSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* Pangram Sans */
@font-face {
  font-family: "Pangram Sans";
  src: url("./assets/fonts/PangramSans/PangramSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pangram Sans";
  src: url("./assets/fonts/PangramSans/PangramSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  --color-primary: #73eedc;
  --color-primary-tinted: #dcfbf6;
  --color-primary-shaded: #458f84;
  --color-secondary: #ffe0b5;
  --color-tertiary: #bc2c1a;
  --color-tertiary-tinted: #e76656;
  --color-primary-shaded: #9e2516;
  --color-white: #fdfdfd;
  --color-grey: #c0c0c0;
  --color-black: #333;
  --color-black-tinted: #4e4e4e;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  overflow: hidden;
  font-family: "Object Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 1;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2.1rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  line-height: 1;
  margin: 0;
}

a {
  font-size: 1.6rem;
  line-height: 1;
  margin: 0;
}
