.plan {
  margin-top: 10rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 90rem;
  display: grid;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}


.tiers {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  width: max-content;
  justify-content: center;
}

.description {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #555;
}
